<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <header>
        <nav class="links">
            <ul>
                <li><a href="/">See all posts</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/writesomething" method="post">
            <label for="title">
                <input type="text" name="title" id="" placeholder="Title">
            </label>
            <label for="text">
                <textarea name="text" id="" placeholder="Write about something">

                </textarea>
            </label>
            <input type="submit" value="enter">
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>