
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <header>
        <h1>Izadora Blog</h1>
    </header>
    <main>
        <nav class="links">
            <ul>
                <li><a href="/writesomething">Write something</a></li>
            </ul>
        </nav>
        <h2>Posts</h2>
        {{#each posts}}
        <div class="posts">
            <div class="post">
              <h2 class="title">{{this.title}}</h2>
              <p class="text">{{this.text}}</p>
              <p class="data">{{this.createdAt}}</p>
            </div>
        </div>
        {{/each}}
    </main>
    <footer>
    </footer>
</body>
</html>